
<div class="container">

    <div class="row">

        <div class="col-12">
            <h1>Clientes</h1>
        </div>

        <div class="col-12">
            <form id="formCliente">
                <div class="row">

                    <input style="display:none;" name="Id" type="number" class="form-control" id="clienteId">

                    <div class="col-5">
                        <div class="form-group">
                            <input name="NombreCompleto" type="text" class="form-control" id="nombre" placeholder="Nombre completo">
                        </div>
                    </div>

                    <div class="col-4">
                        <div class="form-group">
                            <select name="Estado" class="form-control" id="estado">
                                <option>Seleccionar estado</option>
                                <option value="true">Habilitado</option>
                                <option value="false">Deshabilitado</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-3">
                        <button type="submit" class="btn btn-primary">Guardar</button>
                    </div>
                </div>
            </form>

        </div>

        <div class="col-12">
            <table id="tablaClientes" class="table clientes">
                <thead>
                    <tr>
                        <th scope="col" style="display:none;">Id</th>
                        <th scope="col">Nombre completo</th>
                        <th scope="col">Estado</th>
                        <th style="width:200px;">Opciones</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>

<script src="~/js/pacientes.js" asp-append-version="true"></script>